/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/variables' as vars;
@use '../functions/mixins' as mixin;

footer {
    background-color: vars.$ash-grey;
    padding: vars.$spacer-default 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: vars.$spacer-small vars.$spacer-small vars.$spacer-mid;

    @include mixin.mq(tablet) {
        flex-direction: unset;
        padding: vars.$spacer-mid vars.$spacer-mid vars.$spacer-mid * 3;
    }
    
    .search {
        display: none;
        margin-bottom: vars.$spacer-mid;
    }
}