/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/variables' as vars;
@use '../functions//mixins' as mixin;

header {
    @include mixin.willChange(transform);
    @include mixin.hover(transform, 200ms, ease-in);
    backdrop-filter: blur(vars.$spacer-small);
    position: sticky;
    width: 100%;
    background-color: vars.$background-white-transparent;
    padding: 0;
    left: 0;
    top: 0;
    z-index: vars.$z-index-1;
}