/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/mixins' as mixin;

.index-page {
    display: none;
}

html {
    &.index {
        .index-page {
            display: block;
            opacity: 0;

            &.fade-in {
                opacity: 1;
            }

            a {
                pointer-events: none;
            }

            img {
                min-height: 100vh;
            }
        }

        .navigation {
            display: none;
        }

        #posts {
            display: none;
        }

        #pageWrapper {
            min-height: unset;
            padding: 0;
        }

        #contents {
            @include mixin.mq(tablet) {
                min-height: unset;
            }
        }
    }
}