/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

.index-page {
    display: none;
}

html {
    &.index {
        .index-page {
            display: block;
        }

        .navigation {
            display: none;
        }

        #posts {
            display: none;
        }
    }
}