/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/variables' as vars;

html {
    &.loading {
        position: fixed;
        pointer-events: none;
        visibility: hidden;
        width: 100%;

        &:before {
            animation: tspin-cw 1s linear infinite;
            font-family: vars.$icon-font;
            content: "\f29c";
            font-size: vars.$spacer-default;
            z-index: vars.$z-index-1 + 1;
            position: fixed;
            top: 2rem;
            right: .5rem;
            visibility: visible;
        }
    }
}