/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/variables' as vars;
@use '../functions/mixins' as mixin;

nav {
    padding: 0 vars.$spacer-small vars.$spacer-small;

    @include mixin.mq(tablet) {
        padding: 0 vars.$spacer-mid vars.$spacer-small;
    }
}

.navigation-main {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    @include mixin.mq(tablet) {
        flex-direction: unset;
    }

    > li {
        position: relative;

        &:not(:last-child) {
            margin-right: vars.$spacer-default;
        }

        &:hover {
            ul {
                @include mixin.mq(tablet) {
                    display: block;
                }
            }
        }

        > a {
            padding: vars.$spacer-default 0;
        }
    }

    a {
        cursor: pointer;
    }

    ul {
        margin-left: vars.$spacer-small;
        width: max-content;
        
        @include mixin.mq(tablet) {
            display: none;
            position: absolute;
            backdrop-filter: blur(vars.$spacer-small);
            background-color: vars.$background-white-transparent;
            padding: 0 0.375rem;
            margin-left: -0.375rem;
            top: 2.55rem;
        }

        li {
            margin-bottom: vars.$spacer-small;
        }
    }

    h2 {
       margin-bottom: 0;
    }   
}