/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/variables' as vars;
@use '../functions/mixins' as mixin;

#posts {
    display: flex;
    align-items: flex-start;
    flex-flow: initial;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: vars.$spacer-mid;

    > li {
        position: relative;
        margin-bottom: vars.$spacer-mid * 3;

        @include mixin.mq(tablet) {
            flex: 0 0 33.33333333333%;
            max-width: calc(33.33333333333% - vars.$spacer-mid);
            height: 22rem;
            overflow: hidden;
            margin-bottom: 0;
        }
    
        @include mixin.mq(desktop) {
            flex: 0 0 25%;
            max-width: calc(25% - vars.$spacer-mid);
        }
    }
}