/*
Luke Harby
slackwise LTD
https: //slackwise.org.uk
2012 - present
*/

@use '../functions/variables' as vars;
@use '../functions/mixins' as mixin;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: vars.$white;

    &.no-scroll {
        overflow-y: hidden;
    }
}

body {
    @include mixin.hover(all, 100ms, ease-in);
    color: vars.$black;
    background-color: orange;
    font-family: vars.$primary-font;
    font-weight: 400;
    line-height: initial !important;
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
.button-href {
    @include mixin.hover(all, 400ms, ease-in);
    color: vars.$black;
    text-decoration: underline;
}