/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/variables' as vars;
@use '../functions/mixins' as mixin;

* {
    box-sizing: border-box;
    cursor: none;
}

@view-transition {
	navigation: auto;
}

body {
    font-family: vars.$primary-font;
    font-size: vars.$spacer-mid;
    margin: 0;
    padding: 0;

    @include mixin.mq(tablet) {
        font-size: vars.$spacer-default;
    }
}

a,
a:hover,
a:visited {
    color: vars.$black;
    text-decoration: none;
    transition: all 200ms ease-in;
}

p {
    margin-block-start: 0;
}

h1,h2,h3,h4,h5,h6,h7 {
    font-weight: 200;
}

@include mixin.selection {
    background-color: vars.$green;
    color: vars.$white;
}

main img {
    width: 100%;
    height: auto;
}

#pageWrapper {
    min-height: calc(100vh - var(--nav-height) - var(--footer-height));
    padding: vars.$spacer-small;

    @include mixin.mq(tablet) {
        padding: vars.$spacer-mid;
    }

    a {
        border-bottom: 1px solid vars.$black;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }
}

#contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @include mixin.mq(tablet) {
        width: 85%;
    }

    p {
        text-align: justify;
    }
}