/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/variables' as vars;
@use '../functions/mixins' as mixin;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: vars.$primary-font;
    font-size: vars.$spacer-mid;
    margin: 0;
    padding: 0;

    @include mixin.tablet() {
        font-size: vars.$spacer-default;
    }
}

a,
a:hover,
a:visited {
    color: vars.$black;
    text-decoration: none;
    transition: all 200ms ease-in;
}

h1,h2,h3,h4,h5,h6,h7 {
    font-weight: 200;
}

main img {
    width: 100%;
    height: auto;
}

#pageWrapper {
    min-height: 100vh;
    padding: vars.$spacer-small;

    @include mixin.tablet() {
        padding: vars.$spacer-mid;
    }
}

#contents {
    width: 100%;

    @include mixin.tablet() {
        width: 60%;
    }

    @include mixin.desktop() {
        width: 40%;
    }
}