/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use '../functions/mixins' as mixin;

.hidden {
    display: none !important;
}

.domHidden {
    left: -9999px;
    position: absolute;
}

.notVisible {
    visibility: hidden;
}

.tumblr iframe[class^='tmblr-iframe'] {
    display: none !important;
}

.uppercase {
    text-transform: uppercase;
}

div:not(.cursor),
p {
    @include mixin.emptyContent;
}