/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use 'sass:map';

/* 
Use this mixin like so: 
    @include mq(mobile) {
        width: 50%;
    };
    @include mq(dektop) {
        margin: 3rem;
    }
*/

$breakpoints: (
  mobile: 46.25rem,
  tablet: 56.25rem,
  desktop: 68.75rem,
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin hover($type, $speed, $ease) {
    transition: $type $speed $ease;
}

@mixin willChange($type) {
    will-change: $type;
}

@mixin selection {
  ::selection { @content; }
}