/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use 'sass:map';

/* 
Use this mixin like so: 
@include mq(mobile) {
    width: 50%;
};
@include mq(dektop) {
    margin: 3rem;
}
*/

$breakpoints: (
    mobile: 46.25rem,
    tablet: 56.25rem,
    desktop: 68.75rem,
);

@mixin mq($key) {
    $size: map.get($breakpoints, $key);

    @media only screen and (min-width: $size) {
        @content;
    }
}

@mixin hover($type, $speed, $ease) {
    transition: $type $speed $ease;
}

@mixin willChange($type) {
    will-change: $type;
}

@mixin selection {
    ::selection { @content; }
}

@mixin emptyContent {
    &:empty {
        display: none;
        padding: 0;
        margin: 0;

        &:before,
        &:after {
            content: "";
            display: none;
        }
    }
}

@mixin hiddenContent {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    white-space: nowrap;
}

@mixin hiddenFontSize {
    font-size: 0;
}