/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

@use './variables' as vars;

@mixin hover($type, $speed, $ease) {
    transition: $type $speed $ease;
}

@mixin willChange($type) {
    will-change: $type;
}

@mixin desktop() {
    @media screen and (min-width: vars.$tablet-size) {
        @content;
    }
}

@mixin tablet() {
    @media screen and (min-width: vars.$desktop-size) {
        @content;
    }
}