/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

$palest-grey: #f9f9f9;
$pale-grey: #ddd;
$mid-grey: #777;
$white: #fff;
$dark-grey: #333;
$black: #000;

$primary-font: 'Roboto Mono', menlo, 'courier new', courier, monospace;
$secondary-font: helvetica, arial, sans-serif;
$icon-font: 'ionicons';

$default-spacer: 50px;

$mobile-size: 740px !default;
$tablet-size: 900px !default;
$desktop-size: 1024px !default;
